.AllMain{
    background: rgb(248, 248, 248);
}
/* 头部 */
.MainHead {
    /* background: rgb(248, 248, 248); */
    display: flex;
    display: -webkit-flex;
    height: .88rem;
    border-bottom: .01rem solid rgb(235, 234, 234);
}

.MainHeadImg {
    width: .3rem;
    height: .4rem;
    padding-left: .25rem;
}

.MainHeadImg>img {
    width: 100%;
    height: 100%;
    padding-bottom: .4rem;
}

.MainHeadP {
    padding-left: .2rem;
    line-height: .88rem;
    font-size: .36rem;
    color: black;
}

/*  */
.Center{
    padding: .2rem .25rem;
}
.Center>p{
    line-height: .4rem;
    font-size: .24rem;
    color: rgb(102, 102, 102);
}
.MainList{
    background: white;
}
.MainList li{
    padding: .18rem .25rem;
    display: flex;
    display: -webkit-flex;
    border-bottom: .01rem solid rgb(235, 234, 234);
}
.MainList li span{
    width: 1.5rem;
    display: block;
    font-size: .28rem;
    color: rgb(34, 34, 34);
}
.MainList li input{
    width: 5rem;
    margin-left: .25rem;
    /* overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap; */
    border: none;
    outline:none;
}
.MainList li textarea{
    width: 7.2rem;
    height: 1.3rem;
    border: none;
    outline:none;
}
/* .MainList li textarea::-webkit-input-placeholder{
    padding: .15rem;
} */

.Authentication{
    background: white;
    border-top: .01rem solid rgb(235, 234, 234);
    margin-top: .3rem;
    position: relative;
}
.Authentication p{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    padding: .15rem .25rem;
}
.Authentication>p>span:first-child{
    display: block;
    font-size: .28rem;
    color: rgb(34, 34, 34);

}
.Authentication>p>span:last-child{
    display: block;
    font-size: .28rem;
    color: rgb(102, 102, 102);

}
.Authentication>img{
    padding: .15rem .25rem;
    width: 1.2rem;
    height: 1.2rem;
}

.InputImg{
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    border: none;
    opacity: 0;
   top: .85rem;
   left: .25rem;
}

.Btn{
    background: rgb(248, 248, 248);

}
.Btn>p{
    font-size: .24rem;
    color: rgb(102, 102, 102);
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width: 7rem;
    padding: .15rem .25rem;
}
.BtnAll{
    width: 7rem;
    height: .7rem;
    background: rgb(25, 173, 25);
    font-size: .28rem;
    color: white;
    text-align: center;
    line-height: .7rem;
    margin: .2rem auto;
    border-radius: .08rem;
}